requests
pandas==1.5.3
langchain==0.1.16
langchain_community==0.0.34
langchain_core==0.1.45
PyPDF2==3.0.1
python-dotenv==1.0.1
scikit_learn
unstructured
faiss-cpu
tiktoken
rdflib
pdf2image
fuzzywuzzy
langchain-openai
rank_bm25
watchdog
fastapi
uvicorn
supabase
